h1{
	color:blue;
	text-align: center;
	background-color:green;
}
h2{
	color:green;
}
body { 
	background-color: lightblue;
	
}
#home a:hover {
    background: url('img_navsprites_hover.gif') 0 -45px;
}

