.body{
	border: 5px solid gray;
	margin: 0px;
	padding: 20px;
	width: 250px;
	background: green;
}
h2{
	color:red;
	width: 200px;
	padding: 5px;
	border: 5px solid black;
	background-color:green;
}
.header{ 
	width: 320px;
	padding: 30px;
	border: solid gray;
	background-color:green;
	margin: 30px;
}

